.table-container {
    display: flex;
    height: 324px;
    margin-top: 12px;
}

.youtube {
    background: #eee;
    width: 450px;
}

.online-results-table {
    display: block;
    margin-left: 15px;
    flex-grow: 1;
}