@import '../../../../../assets/styles/colors.less';

.loader {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 400px;
}

.error {
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
    display: flex;
    padding: 100px;
    font-size: 16px;
}

.news_header {
    margin: 0;
    color: @deep-blue;
    font-family: bebas;
    font-size: 31px;
    letter-spacing: 1.5px;
    font-weight: normal;
    line-height: initial;
}

.no-margin {
    margin: 0;
}

.author-and-date {
    margin-top: 5px;
}