<ng-container *ngIf="!hasError; else error">
    <div *ngIf="(singleNews$ | async) as singleNews; else loader" class="news-container">
        <div class="shadowed-main-block news-block">
            <h1 class="h1-block-header no-margin news_header">
                {{ singleNews.header }}
            </h1>

            <div class="author-and-date">
                {{ translations?.author }}: <a routerLink="/profile/{{ singleNews.authorId }}">{{ singleNews.authorName }}</a>,
                {{ formatDate(singleNews.datetime) }}
            </div>

            <ng-container [ngSwitch]="singleNews.type">
                <app-news-simple *ngSwitchCase="newsTypes.SIMPLE" [news]="singleNews"></app-news-simple>
                <app-news-multicup-results *ngSwitchCase="newsTypes.MULTICUP_RESULTS" [news]="singleNews"></app-news-multicup-results>
                <app-news-online-announce *ngSwitchCase="newsTypes.ONLINE_ANNOUNCE" [news]="singleNews"></app-news-online-announce>
                <app-news-online-results *ngSwitchCase="newsTypes.ONLINE_RESULTS" [news]="singleNews"></app-news-online-results>
                <app-news-offline-start 
                    *ngSwitchCase="newsTypes.OFFLINE_START" 
                    [news]="singleNews" 
                    (reloadNews)="reloadNews()">
                </app-news-offline-start>
                <app-news-offline-results *ngSwitchCase="newsTypes.OFFLINE_RESULTS" [news]="singleNews"></app-news-offline-results>
            </ng-container>

            <app-news-comments [comments]="singleNews.comments" [newsId]="singleNews.id" [expandable]="false"></app-news-comments>
        </div>
    </div>
</ng-container>

<ng-template #loader>
    <div class="shadowed-main-block">
        <div class="loader">
            <mat-spinner diameter="80" strokeWidth="5" color="accent"></mat-spinner>
        </div>
    </div>
</ng-template>

<ng-template #error>
    <div class="shadowed-main-block error">
        {{ translations?.errorNewsDoesntExist }}
    </div>
</ng-template>